div.center.p4.bg-cover.bg-blue.white.clearfix
	h1 Hi, I'm Julien
	h2 My site is coming soon.
div(style='background-image:url(/img/me.jpg);background-repeat:no-repeat;height: 100%;').bg-cover.homepage
